body {
  margin: 0;
}

#body {
  width: 100vw;
  height: 100vh;
}

#table {
  position: relative;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateY(-50%) perspective(800px) rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  width: 160px;
  height: 640px;
  margin: auto;
}

.row {
  width: 160px;
  display: block;
}

.cell {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
  background-color: #44b;
  transition: .1s;
}
